h1 {
background-color: pink;
text-align: center;
text-decoration: underline;
}

img  {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
  text-align: center;
  color: red;
  background-color: black;
}

h3  {
  text-align: center;
   color: red;
}

p {
  text-align: justify;
  text-transform: full-width;
  color: lightblue;
}

div  {
  margin-left: 260px;
  margin-right: 200px;
  width: 110%;
}
